.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
.Rapp.history
*-Ex.R
.Rhistory
.RData
.Ruserdata
.Renviron
.DS_Store
build
.vscode
*.Rcheck/*
*_cache/
/cache/
*.utf8.md
*.knit.md
/*.tar.gz
ASRdata_*.tar.gz
noup/*
misc/*
Jenkinsfile
scripts/*
scm/*
cran-comments.md